version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: propulse
      POSTGRES_USER: propulse
      POSTGRES_PASSWORD: propulse
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  evolution_api:
    image: atendai/evolution-api:latest
    container_name: evolution_api
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_URL=http://localhost:8080
      - AUTHENTICATION_API_KEY=MINHA_API_KEY
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://propulse:propulse@db:5432/propulse
      - DATABASE_CLIENT=postgresql
    depends_on:
      - db

volumes:
  pgdata:
